.note-index-item-wrapper {
  padding: 10px 18px;
  width: 350px;
  height: 114px;
  box-sizing: border-box;
  border: 3px solid transparent;
  cursor: pointer;
  overflow: hidden;
}

.notes-index {
  height: 88%;
}

//Potentially for focus note item checkbox
// .note-index-item-wrapper:checked {
//   border: 3px solid #ababab;
// }

// #btnControl {
//   display: none;
// }


.note-index-item-wrapper:hover {
  background: #40BC6C;

  .note-index-list-item {
    .title, .body, .time, .options {
      color: white;
    }
  }

  .options {
    width: 23%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding-right: 10px;
  }

  .bottom-line {
    display: none;
  }
  transition: .2s ease;
}

.note-index-item {
  .options {
    display: none;
  }
}

.note-index-item {
  .options *:hover {
    color: yellow;
  }
}

.note-index-list-wrapper.selected {
  border: 2px solid #b4b1b1;
}

.note-index-list-item {
  height: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.notes-index-list {
  height: 100%;
  display: block;
  overflow: auto;
  overflow-x: hidden;

}

.notes-index-list-wrapper {
  /* Firefox */
  height: -moz-calc(100%);
  /* WebKit */
  height: -webkit-calc(100%);
  /* Opera */
  height: -o-calc(100%);
  /* Standard */
  height: calc(100%);
  overflow: auto;
}

.note-index-item.title {
  color: #797878;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
}

.note-index-item.body {
  max-width: 308px;
  max-height: 45px;
  overflow: hidden;
}

.note-index-item.body, .note-index-item.time {
  color: #818181;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 0.5px;
  font-weight: lighter;
  font-size: 13px;
}

.note-index-item.time {
  letter-spacing: 1.5px;
  font-size: 11px;
  padding-bottom: 7px;
}


.note-index-item-wrapper {
  border-bottom: 1px solid #e3e3e3;
}
