.ql-toolbar-bottom-line {
  width: 85%;
  border-top: 1px solid #c6c0c0;
  position: absolute;
  top: 35px;
  left: 8.2%;
}

@media only screen and (max-width: 1000px) {
    .ql-toolbar-bottom-line {
        left: 48px;
    }
}

.notebook-dropdown-wrapper {
  display: flex;
  border-right: 1px solid #dbddde;
  top: 12px;
  position: absolute;
  padding-left: 15px;
  z-index: 199;
  font-size: 14px;
  font-family: sans-serif;
  width: 180px;
  height-max: 17px;
  cursor: pointer;

  .notebook-down {
    padding-left: 3px;
    padding-top: 2px;
  }

  .notebook-main {
    padding-right: 7px;
    color: #ababab;
  }

  span {
    color: #5b5656;
    text-overflow: ellipsis;
    text-overflow: clip;
  }

  ul {
    -webkit-box-shadow: 25px 25px 46px -12px rgba(217,217,217,1);
    -moz-box-shadow: 25px 25px 46px -12px rgba(217,217,217,1);
    box-shadow: 25px 25px 46px -12px rgba(217,217,217,1);
    border: 1px solid #d2d1d1;
    position: absolute;
    top:23px;
    margin-left: -10px;
    height: 500px;
    background: white;
    overflow-y: scroll;
    width: 358px;
    box-sizing: border-box;
  }

  .notebook-dropdown-item {
    width: 100%;
    box-sizing: border-box;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    height: 52px;
    box-sizing: border-box;
    border-bottom: 1px solid #dbddde;

    .selected {
      color: #23BB59;
    }
  }

  .create-notebook {
    color: #4d4c4c;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    font-family: Helvetica, Arial, sans-serif;

    span {
      font-size: 13px;
    }


    .create-notebook-icon {
      display: flex;
      padding-right: 8px;

      :first-child {
        font-size: 18px;
      }

      :last-child {
        font-size: 10px;
        padding-bottom: 6px;
      }
    }
  }

  .nb-drop-item-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    width: 85%;

    font-weight: 100;
    cursor: pointer;
    color: #4d4c4c;

    label {
      cursor: pointer;
    }

    div {
      font-size: 18px;
    }
  }

  li:hover {
    background: #40BC6C;

    .nb-drop-item-wrapper {
      color: #ffffff;
    }
  }

  .create-notebook:hover{
    background: white;
    color: #23BB59;
    span {
      color: inherit;
    }
  }

  .selected-image {
    width: auto;
  }
  .hidden {
    display: none;
  }
}
