.full-screen-note-editor {
  background: white;
}

.editor-actions {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;

  .editor-icons {
    display: flex;
    width: 100px;
    justify-content: space-around;
    font-size: 21px;
    color: #C4C4C4;
  }

  .editor-icons *:hover {
    color: #23BB59;
    cursor: pointer;
  }

  .editor-buttons {
    display: flex;
    width: 230px;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
    color: #23BB59;


    input {
      width: 84px;
      margin-left: 20px;
      box-sizing: border-box;
    }
  }

  .editor-buttons i, .editor-buttons input {
    cursor: pointer;
    font-size: 14px;
    padding: 8px 10px;
    border: 1px solid #23BB59;
    border-radius: 3px;
  }

  .editor-buttons input {
    padding: 7px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #23BB59;
  }

  .editor-buttons *:hover {
    background: #23BB59;
    color: #f9f9f9;
    transition: 0.3s ease;
  }

  @media screen and (max-width: 750px) {
    width: 267px;
  }
}

.home-note-editor-wrapper {
  width: calc(100vw - 425px);
  height: 100vh;

}

.editor-main {

  .note-edit-wrapper {
    margin-top: 40px;
    padding: 0 7%;
    padding-left-min: 50px;
    position: relative;
    height: 100%;
    max-width: 100%;
    margin-right: 0;

    input {
      position: absolute;
      padding-left: 13px;
      top: 30px;
      width: 80%;
      color: #23BB59;
      height: 50px;
      font-size: 26px;
      font-weight: 100;
      letter-spacing: 2px;
      font-family: 'Roboto Slab', serif;
    }

    input::placeholder {
      color: rgba(#23bb59, 0.44);
    }

    .ql-editor {
      margin-top: 45px;
      color: #6a6a6a;
      height: 100%;

      .ql-syntax {
        border: 1px solid #999999;
        border-radius: 5px;
        background: #FBFAF8;
        color: #6c6c6c;
      }
    }

    .editing-area {
      height: 80vh;
    }

    .editing-area.ql-container.ql-snow {
      border: 0 none;
    }

    .quill {
      height: 100%;
    }

    .ql-toolbar.ql-snow {
      border: 1px solid transparent;
      min-width: 750px;
      max-height: 40px;

      .ql-formats .ql-picker span {
        font-size: 12px;
        color: #6a6a6a;
      }

      button {
        width: 17px;
        height: 21px;
        color: #6a6a6a;
        outline: 0;
      }

      .ql-active {
        color: #23BB59;
      }
    }

    .ql-toolbar.ql-snow.active {
      margin-left: 70px;
    }
  }

  @media screen and (max-width: 1000px) {
    .note-edit-wrapper {
      padding-left: 40px;
    }
  }
}
