.notebook-show {
  display: flex;
  flex-direction: column;
  border: 1px solid #cfcfcf;
  z-index: 100;
  width: 350px;

}

.notebook-show-header {
  background: #393D41;
  color: #D3D4D5;
  height: 152px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.notebook-show span {
  width: 350px;
  text-align: right;
}

.notebook-show i {
  padding-right: 16px;
  padding-top: 4px;
  font-size: 20px;
  cursor: pointer;
}

.notebook-show h3 {
  height: 60%;
  font-size: 19px;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-weight: lighter;
}
