.notes-index-header {
  display: flex;
  justify-content: space-between;
  height: 48px;
  align-items: center;
  box-sizing: border-box;
  padding-top: 15px;
  padding: 15px 24px;
  padding-bottom: 0px;
  font-family: sans-serif;
  border-bottom: 1px solid #C0C0C0;
}

.notes-index-header span,
.notes-index-header label,
.notes-index-header i {
  font-size: 14px;
  font-weight: lighter;
}

.notes-index-header span {
  color: #C0C0C0;
  width: auto;
}

.options-selector {
  color: #8f8d8d;
  display: flex;
}

.options-selector i {
  padding-top: 2px;
  font-weight: normal;
}
