.notes-show {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  z-index: 100;
  height: 100vh;
}

.notes-show-header {
  background: white;
  color: #a1a1a1;
  height: 50px;
  width: 350px;
  display: flex;
  align-items: center;
  padding: 24px;
  padding-bottom: 0px;
  box-sizing: border-box;
}

.notes-show-header h3 {
  font-family: sans-serif;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 21px;
}
