.notes-index-header {
  display: flex;
  justify-content: space-between;
  height: 48px;
  align-items: center;
  box-sizing: border-box;
  padding-top: 15px;
  padding: 15px 24px;
  padding-bottom: 0px;
  font-family: Helvetica, Arial, sans-serif;
  border-bottom: 1px solid #e3e3e3;
}

.notes-index-header span,
.notes-index-header label,
.notes-index-header i {
  font-size: 14px;
  font-weight: lighter;
}

.notes-index-header span {
  color: #C0C0C0;
  width: auto;
}

.options-selector {
  color: #8f8d8d;
  display: flex;
}

.options-selector i {
  padding-top: 2px;
  font-weight: normal;
}

.add-note-prompt-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .add-note-prompt {
    padding-bottom: 200px;
    color: #595959;

    i {
      padding: 0 4px;
    }

    i:hover {
      color: #40BC6C;
    }
  }

}
