// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {

}
.auth-form {
  margin: 0 auto;
  width: 384px;
  font-weight: normal;
  font-size: 28px;
  color: #6D6D6D;
  text-align: center;

}

.auth-form span, .auth-form input {
  display: block;
  font-weight: lighter;
}

.auth-form a {
  text-align: center;
  font-size: 17px;
  color: #2DBE60;
}

.auth-form a:hover {
  color: #28A956;
  transition: color 0.3s ease;
}

.auth-form input, .auth-form a {
  font-family: sans-serif;
}

.auth-form span {
  font-weight: 100;
  font-size: 13px;
}

.auth-form form {
  border: 1px solid rgb(201, 201, 201);
  background: white;
  padding-top: 23px;
  padding-bottom: 23px;
  height: 250px;
}

.auth-form input {
  font-size: 15px;
  border: 1px solid #E7E7E7;
  border-radius: 7px;
  padding: 10px;
  margin: 10px auto;
  width: 295px;

}

input::-webkit-input-placeholder {
  color: rgb(201, 201, 201);
}

.alt-link {
  font-size: 10px;
  width: 100%;
  text-align: center;
}

.alt-link * {
  margin: 10px;
}

.auth-form .submit {
  margin-top: 30px;
  color: white;
  background-color: #2DBE60;
  padding: 16px;
  width: 317px;
  font-size: 17px;
}

.submit:hover,  {
    background: #28A956;
    transition: background-color 0.3s ease;
}

.auth-header {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.auth-header label {
  margin: 0 auto;
  font-family: Sanchez-Regular;
  display: block;
  font-size: 26px;
  padding-bottom: 15px;
}

.auth-main {
  border-top: 3px solid #2DBE60;
}

.auth-form input:nth-child(2) {
  margin-bottom: 0;
}

.auth-form ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 20%;
}

.auth-form li {
  font-family: sans-serif;
  font-size: 15px;
  width: 75%;
  background: #FFD1D1;
  color: #ce524e;
  text-align: left;
  padding: 6px;
  border: 1px solid #ffb2b2;
  border-bottom: none;
}

.auth-form ul li:last-child {
  border-bottom: 1px solid #ffb2b2;
}
