.modal-create {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 311px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  font-family: sans-serif;
  font-weight: lighter;
}

.modal-create-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 30%;
  color: #939090;
  letter-spacing: 1.5px;
  font-size: 13px;
}

.modal-create-header label {
  padding-bottom: 5px;
  letter-spacing: 1.5px;
}

.modal-create i {
  font-size: 35px;
  padding-bottom: 10px;
}

.modal-create.bottom-line {
  width: 90%;
  height: 1px;
  border-top: 1px solid #ddd9d9;
}

.create-title {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 33px;
  width: 300px;
  padding-bottom: 20px;
}

.modal-create input::-webkit-input-placeholder {
  text-align: center;
}

.create-title:focus {
  outline: 0;
}

.create-modal, .notebook-modal {
  height: 40px;
  width: 388px;
  display: flex;
  justify-content: space-between;
}


.create-modal input, .notebook-modal input {
  font-size: 13px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  width: 190px;
  height: 35px;
  letter-spacing: 1px;
  box-sizing: border-box;
  cursor: pointer;
}

.create-modal input:focus, .notebook-modal input:focus {
  outline: none;
}

.create-modal .cancel, .notebook-modal .cancel {
  background: #edecec;
  color: #716e6e;
}

.create-modal .cancel:hover, .notebook-modal .cancel:hover {
  background: #d9d9d9;
}

.create-modal .submit, .notebook-modal .submit {
  background: #2DBE60;
  color: #f2f2f2;
}

.create-modal .submit:hover, .notebook-modal .submit:hover {
  background: #28a955;
}

.create-modal .inactive {
  background: #96DFB0;
  cursor: default;
}

.create-modal .inactive:hover {
  background: #96DFB0;
}
