.inactive-modal {
  width: 0;
  height: 0;
  -webkit-animation: fadeout .6s;
  opacity: 0;
}

@-webkit-keyframes fadeout {
  from { opacity: 1}
  to {opacity: 0}
}

.active-modal {
  top: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: white;
  z-index: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  -webkit-animation: fadein .6s;
}

@-webkit-keyframes fadein {
  from { opacity: 0 }
  to { opacity:1 }
}
