/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_sessions
 */

html, body, div, span, h1, h2, h3, h4, p, a, img,
figure, canvas, aside article, table, section,
nav, menu, main, video, Link, button, label, input, form,
ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: sans-serif;
  font: inherit;
  background: transparent;
}

a {
  text-decoration: none;
}

body {
  background: rgb(243, 243, 243)
}

ul {
  list-style: none;
}
