.home-main {
  min-height: 100%;
  background: white;
  display: flex;
  overflow: hidden;
}

.home-side-bar {
  z-index: 300;
  min-height: 100%;
  border: 1px solid #ececec;
  display: flex;
  flex-direction: column;
  width: 72px;
  min-height: 100%;
  padding: 15px;
  box-sizing: border-box;
  align-items: stretch;
  background: rgb(243, 243, 243);

  color: #40BC6C;
}

.home-side-bar{
  button:focus {
    outline: 0;
  }
  
  a, i {
    color: #40BC6C;
    font-size: 27px;
    cursor: pointer;
  }

  a:hover, i:hover {
    color: #31A759;
  }
}

.side-bar-1 {
  height: 90px;
  display: flex;
}

.home.logo {
  width: 50px;
  height: 50px;
  background-image: asset_url('evergoat-logo');
  background-size: contain;
  background-repeat: no-repeat;
}

.side-bar-2, .side-bar-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;

}

.side-bar-2 {
  height: 140px;
  margin-bottom: 75px;
}

.side-bar-3 {
  margin-bottom: 150px;
  height: 185px;
}

.side-bar-4 {
  width: 44px;
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
}

.side-bar-4 {
  background: #F3F3F3;
}
