.splash-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  background: white;
  color: gray;
}

.splash-title {
  margin-left: 20px;
  display: flex;
}

.splash-title h1 {
  // font-family: Georgia, serif;
  color: #28A956;
  font-size: 26px;
  font-weight: 700;
}

.splash-nav-links {
  color: gray;
  width: 160px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: 14px;
}

.splash-nav-links a {
  color: gray;
  padding: 3px;
  vertical-align: middle;
}

.splash-main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: white;
}

.splash-main img {
  object-fit: contain;
  width: 100%;
  height: auto;
}
