.splash-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  background: white;
  color: gray;
  padding: 0 20px;
}

.splash-title {
  margin-left: 40px;
  display: flex;
  align-items: center;
}

.splash-title h1 {
  font-family: 'Roboto Slab', serif;
  color: #28A956;
  font-size: 30px;
  margin-left: 20px;
  letter-spacing: 1px;
}

.logo.splash {
  width: 40px;
  height: 40px;
}

.splash-nav-links {
  color: gray;
  width: 160px;
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.splash-nav-links a {
  color: gray;
  padding: 3px;
  vertical-align: middle;
  letter-spacing: 1px;
}

.splash-main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: white;
}

.splash-main img {
  object-fit: contain;
  width: 100%;
  height: auto;
}
