<!DOCTYPE html>
<html>
<head>
  <title>BetterGoat</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://use.fontawesome.com/8b8e7698a0.js"></script>
  <script src="//cdn.quilljs.com/1.2.4/quill.js"></script>
  <script src="//cdn.quilljs.com/1.2.4/quill.min.js"></script>
  <!--
/**
 * @license
 * MyFonts Webfont Build ID 3376232, 2017-04-18T19:37:17-0400
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: Sanchez-Regular by Latinotype
 * URL: http://www.myfonts.com/fonts/latinotype/sanchez/regular/
 * Copyright: Copyright (c) 2011 by Daniel Hern&#x00B7;ndez. All rights reserved.
 * Licensed pageviews: Unlimited
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3376232
 *
 * © 2017 MyFonts Inc
*/

-->
<link rel="stylesheet/fonts" type="text/css" href="MyFontsWebfontsKit.css">
</head>
<body>

<%= yield %>

</body>
</html>
