<!DOCTYPE html>
<html>
<head>
  <title>BetterGoat</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://use.fontawesome.com/8b8e7698a0.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Rokkitt:200" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400" rel="stylesheet">

</head>
<body>

<%= yield %>

</body>
</html>
